{
  "type": "model",
  "series": "16",
  "model": "ubuntu-core-18-pi-arm64",
  "display-name": "Nitrokey NextBox",
  "architecture": "arm64",
  "gadget": "nextbox-pi=18-pi",
  "kernel": "pi-kernel=18-pi",
  "base": "core18",
  "required-snaps": %%snaps%%,
  "authority-id": "%%developer_id%%",
  "brand-id": "%%developer_id%%",
  "timestamp": "%%timestamp%%"
}
