{
  "type": "model",
  "series": "16",
  "model": "ubuntu-core-20-pi-arm64",
  "display-name": "Nitrokey NextBox",
  "architecture": "arm64",
  "gadget": "pi=20",
  "kernel": "pi-kernel=20",
  "base": "core20",
  "required-snaps": %%snaps%%,
  "authority-id": "%%developer_id%%",
  "brand-id": "%%developer_id%%",
  "timestamp": "%%timestamp%%"
}
