[Unit]
Description=NextBox System Daemon 
After=network.target

[Service]

Environment="PYTHONUNBUFFERED=x"
ExecStart=/usr/bin/nextbox-daemon

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
