[Unit]
Description=nextbox-compose
Requires=docker.socket
After=docker.socket nextbox-daemon.service

[Service]
Restart=always
RestartSec=5

WorkingDirectory=/usr/lib/nextbox-compose/

ExecStartPre=/usr/bin/docker-compose -f docker-compose.yml down -v
ExecStart=/usr/bin/docker-compose -f docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose.yml down -v

[Install]
WantedBy=multi-user.target
