[Unit]
Description=external harddisk mount

[Mount]
What=LABEL=NextBoxHardDisk
Where=/media/nextcloud
Type=auto

[Install]
WantedBy=multi-user.target

