[Unit]
Description=external harddisk mount

[Mount]
What=/dev/disk/by-label/NextBoxHardDisk
Where=/media/nextcloud
Type=auto

[Install]
WantedBy=multi-user.target

