Source: %%PKG%%
Maintainer: Markus Meissner - Nitrokey <meissner@nitrokey.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6


Package: %%PKG%%
Provides: nextbox
Conflicts: nextbox
Replaces: nextbox
Architecture: all
# armh64 only (gpio)
#Depends: python3, python3-flask, python3-requests, python3-gpiozero, python3-yaml, python3-psutil, python3-rpi.gpio, ${misc:Depends}, ${python3:Depends}
Depends: python3, python3-flask, python3-requests, python3-gpiozero, python3-yaml, python3-psutil, python3-filelock, docker.io, docker-compose, openssl, ${misc:Depends}, ${python3:Depends}
Description: The Nitrokey - NextBox System Control Daemon

